.pricingSection {
  margin-top: 120px;
}
.testimonialSection {
  margin-top: 120px;
  margin-bottom: 120px;
}
.contactUsSection {
  margin-bottom: 120px;
}
.serviceSection {
  margin-top: 120px;
}

// .allpagesection {
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 auto;
// }
@media screen and (max-width: 766px) {
  .ServiceCardSM {
    width: 80%;
  }
}
