.pricingSection {
  margin-top: 120px;
}
.testimonialSection {
  margin-top: 120px;
  margin-bottom: 120px;
}
.contactUsSection {
  margin-bottom: 120px;
}
.serviceSection {
  margin-top: 120px;
}

.homeSection {
  width: fill;
}

@media screen and (max-width: 766px) {
  .ServiceCardSM {
    width: 80%;
  }
}
.aboutUsText {
  width: 90%;
}
