@use "../generalstyles/colors.module.scss" as *;
.contactSection {
  max-width: 90%;
}
.formstyle {
  max-width: 60%;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.inputstyle {
  border: none;
  border-bottom: 0.5px solid $textColorWB;
  border-radius: 0;
}
.inputstyle:focus {
  box-shadow: none;
}

@media screen and (max-width: 766px) {
  .formstyle {
    max-width: 90%;
    margin: auto;
    padding: 0 25px 0 25px;
    // margin-top: 70px;
    // margin-bottom: 70px;
  }

  .contactSection {
    padding: 25px 0 25px 0;
  }
}
