.heroimage {
  width: 100%;
  height: 649px;
  background-image: url(../../public/images/marketStationhero/heroRectangle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marketStationText {
  position: relative;
  font-size: 1rem;
  color: white;
}

.marketStationText h1 {
  color: white;
  position: relative;
  font-size: 3rem;
  font-weight: 1000;
}
.marketStationNavText {
  color: white;
  font-weight: 600;
}
.marketStationNavText:hover {
  color: rgb(177, 174, 174);
}
@media screen and (max-width: 767px) {
  .marketStationNavText {
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    margin-top: 13px;
    align-items: center;
    padding-left: 30px;
  }
  .marketStationNavText:hover {
    color: blue;
  }
  .herotexts {
    margin-left: 35px;
  }
  .Herobutton {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .HeroimageMobile {
    width: 70vh;
  }
}
@media only screen and (min-width: 767px) {
  .HeroimageMobile {
    width: 93vh;
  }
}

@media (max-width: 767px) {
  .CollapseContent {
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
  .navbg {
    // position: absolute;
  }
}
.HeroContent {
  padding-top: 60px;
}
