@use "../generalstyles/colors.module.scss" as *;

.priceStyling1 {
  font-size: 0.8rem !important;
  font-weight: 500;
}
.priceStyling2 {
  font-size: 1.75rem !important;
  font-weight: 700;
}

@media screen and (max-width: 766px) {
  .pricingCardSM {
    width: 80%;
  }
}
