@use "../generalstyles/colors.module.scss" as *;

.testimonialName {
  font-size: 0.95rem;
  font-weight: 480;
}

.testimonialPosition {
  font-size: 0.9rem;
  font-style: italic;
}

.TcardImage {
  min-width: 1.6rem;
}

@media screen and (max-width: 766px) {
  .TestimonialCardSM {
    width: 80%;
  }
}
